<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>List You Some Beers</title>
	<link rel="stylesheet" href="style.min.css">
</head>
<body data-ng-app="beerApp">
	<h1>Beers Everywhere</h1>
	<main data-ng-controller="BeersController" data-ng-init="getAll()">
		<h1> Beer App </h1>
		<form name="newBeerForm" data-ng-submit="createBeer(newBeer)">
			<label for="beerName">New Beer Name:</label>
			<input type="text" placeholder="name" id="beerName"required="required" data-ng-model="newBeer.name">
			<label for="beerBrewery">Brewery:</label>
			<input type="text" placeholder="brewery" id="beerBrewery" data-ng-model="newBeer.brewery">
			<label for="beerStyle">Style:</label>
			<input type="text" placeholder="style" id="beerStyle" data-ng-model="newBeer.style">
			<label for="beerNotes">Notes:</label>
			<input type="text" placeholder="tasting notes" id="beerNotes" data-ng-model="newBeer.notes">
			<button type="submit" data-ng-disabled="newBeerForm.$invalid">List Another Beer</button>
		</form>
		<table id="beertable">
			<tr>
				<th>Beer Name</th>
				<th>Brewery</th>
				<th>Style</th>
				<th>Tasting Notes</th>
			</tr>
			<tr data-ng-repeat="beer in beers">
				<td data-ng-if="!beer.editing">{{beer.name}}</td>
				<td data-ng-if="!beer.editing">{{beer.brewery}}</td>
				<td data-ng-if="!beer.editing">{{beer.style}}</td>
				<td data-ng-if="!beer.editing">{{beer.notes}}</td>
				<td class="button" data-ng-if="!beer.editing">
					<button  data-ng-if="!beer.editing"  data-ng-click="edit(beer)">Edit Beer</button>
				</td>
				<td class="button" data-ng-if="!beer.editing">
					<button  data-ng-if="!beer.editing" data-ng-click="deleteBeer(beer)">Delete Beer</button>
				</td>
				<form data-ng-if="beer.editing" name="beerForm{{beer._id}}" data-ng-submit="updateBeer(beer)">
					<label for="beerName{{beer._id}}"></label>
						<td data-ng-if="beer.editing" ><input type="text" id="beerName{{beer._id}}" data-ng-model="beer.name"></td>
					<label for="beerBrewery{{beer._id}}"></label>
					<td data-ng-if="beer.editing" ><input type="text" id="beerBrewery{{beer._id}}" data-ng-model="beer.brewery"></td>
					<label for="beerStyle{{beer._id}}"></label>
					<td data-ng-if="beer.editing" ><input type="text" id="beerStyle{{beer._id}}" data-ng-model="beer.style"></td>
					<label for="beerNotes{{beer._id}}"></label>
					<td data-ng-if="beer.editing" ><input type="text" id="beerNotes{{beer._id}}" data-ng-model="beer.notes"></td>
					<td class="button"  data-ng-if="beer.editing" >
						<button data-ng-if="beer.editing" data-ng-click="cancel(beer)">Cancel</button>
					</td>
					<td class="button" data-ng-if="beer.editing" >
						<button data-ng-if="beer.editing" data-ng-click="updateBeer(beer)" type="submit">Save Changes</button>
					</td>
				</form>
			</tr>
		</table>
	</main>
	<script src="/bundle.js"></script> </body>
</html>
