body {
  background: $backgroundColor;
}

span {
  color: $mainColor;
  input{
    color: red;
  }
}

p {
  color: $mainColor;
}

fieldset {
  font-size: 0.75em;
  color: $mainColor;
  border: 1px solid red;
}

button, input{
  border: none;
}

#beerlist-headings {
  span {
    @include list-heading(black, 700);
  }
}

li {
  list-style: none;
}

footer {
  text-align: center;
  background: mixColors(red, blue);
}
