body {
	padding: 2%;
}

.tablediv {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
}

li {
	margin-top: 1%;
	span {
		padding-left: 10px;
		input {
			width: 10%;
		}
		.button {
			padding: 1px;
		}
	}
}

#about-organizer {
	display: flex;
	justify-content: flex-start;
	fieldset {
		width: 25%;
		display: flex;
		align-items: center;
		margin-top: 5px;
		button {
			margin-top: 5px;
		}
	}

	h2 {
		@include margin-and-padding(0, 0);
	}

	p {
		@include margin-and-padding(0, 0);
	}
}




