@for $i from 0 through 255 {
	.box#{$i} {
		background : #00ff00 - ($i * #000100 ) + ($i * #010000);
		height: 1px;
	}
}


.gradientbox:hover{
	background: white;
}

.gradientbox:active{
	background: black;
}

.gradientbox:visited{
	background: black;
}
