<form name="newBeerForm" data-ng-submit="create(newBeer)">
	<fieldset>
		<legend>Add A New Beer!</legend>
		<div>
			<label for="beerName">Name:</label>
			<input type="text" placeholder="name" id="beerName"required="required" data-ng-model="newBeer.name">
		</div>
		<div>
			<label for="beerBrewery">Brewery:</label>
			<input type="text" placeholder="brewery" id="beerBrewery" data-ng-model="newBeer.brewery">
		</div>
		<div>
			<label for="beerStyle">Style:</label>
			<input type="text" placeholder="style" id="beerStyle" data-ng-model="newBeer.style">
		</div>
		<div>
			<label for="beerNotes">Notes:</label>
			<input type="text" placeholder="tasting notes" id="beerNotes" data-ng-model="newBeer.notes">
		</div>
		<button type="submit" data-ng-disabled="newBeerForm.$invalid">List Another Beer</button>
	</fieldset>
</form>
