<section data-ng-init="getAll()">
	<div id="about-organizer">

		<div
		data-beer-form
		data-button-text="Add a new beer!"
		data-form-name="newBeerForm"
		data-beer="newBeer"
		data-save="create(beer)"
		></div>

		<div data-beer-transclusion>
				<p> Enthusiastically brand interactive web-readiness rather than tactical potentialities. Professionally envisioneer scalable technology and proactive methodologies. Uniquely develop multifunctional mindshare vis-a-vis cross-unit processes. Uniquely disintermediate orthogonal processes through maintainable relationships. Uniquely architect resource sucking applications after bleeding-edge functionalities.
				</p>
			</div>
	</div>

	<div data-repeating-stuff></div>

</section>
